<template name="landing">
    <!--body id="page-top" class="index"-->
    
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#page-top">EURO 2016 ennustus</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="page-scroll hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li class="page-scroll">
                            <a href="#how-to-play">Kuidas osaleda?</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#rules">Reeglid</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#contact">Kontakt</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    
        <!-- Header -->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="login" class="login">
                            <a href="https://bf.fctwister.ee/dashboard" class="btn btn-lg btn-outline">
                                SISENE ENNUSTUSLEHELE
                                <i class="fa fa-sign-in" aria-hidden="true"></i>
                            </a>
                        </div>
                        <p id="user-count" class="user-count">{{userCount}}</p>
                        <img class="img-responsive" src="img/profile.png" alt="">
                    </div>
                </div>
            </div>
        </header>

        <!-- How to Play section -->
        <section class="how-to-play" id="how-to-play">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Kuidas osaleda?</h2>
                        <br>
                    </div>
                </div>
                
                <div class="row mt centered">
                    <div class="col-lg-4">
                        <img src="img/social.gif" width="180" alt="" >
                        <br>
                        <h4>1 - Logi sisse</h4>
                        <p>Kasutada saad oma lemmikut sotsiaalmeedia kontot. Toetatud on <strong>Facebook</strong>, <strong>Google+</strong> ja <strong>Twitter</strong>.</p>
                    </div><!--/col-lg-4 -->

                    <div class="col-lg-4">
                        <img src="img/pad.png" width="180" alt="">
                        <br>
                        <h4>2 - Täida ennustused</h4>
                        <p>Kui kohe ei oska kõiki tulemusi kirja panna või kahtled oma valikutes, siis muretseda pole vaja - saad hiljem oma ennustusi kergesti muuta.</p>

                    </div><!--/col-lg-4 -->

                    <div class="col-lg-4">
                        <img src="img/check.png" width="180" alt="">
                        <br>
                        <h4>3 - Kinnita oma osalus</h4>
                        <p>Selleks tuleb registreerida oma ennustus ja ära kanda osavõtu tasu <strong>€15</strong>. Toetatud on kõik suuremad krediitkaardid ning maksta saad ka Paypal kontolt.</p>

                    </div><!--/col-lg-4 -->
                </div><!-- /row -->
            
            </div>
        </section>

        <!-- About Section -->
        <section class="rules" id="rules">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Reeglid</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-2">
                        <ul>
                            <li>Ennustuste registreerimise tähtaeg on 1h enne turniiri esimese mängu algust.</li> 
                            <li>Peale seda lukustatakse iga meeskonna esimesed alagrupimängud ning neid ei ole võimalik enam muuta.</li>
                            <li>Ennustuste registreerimise tähtaeg on 1h enne turniiri esimese mängu algust.</li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <ul>
                            <li>Ennustuste registreerimise tähtaeg on 1h enne turniiri esimese mängu algust.</li> 
                            <li>Peale seda lukustatakse iga meeskonna esimesed alagrupimängud ning neid ei ole võimalik enam muuta.</li>
                            <li>Ennustuste registreerimise tähtaeg on 1h enne turniiri esimese mängu algust.</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <br>
                    <div class="col-lg-8 col-lg-offset-2 text-center page-scroll">
                        <h3>Tekkis huvi?</h3>
                        <a href="https://bf.fctwister.ee/dashboard" class="btn btn-lg btn-outline">
                            Logi sisse ja loe lähemalt
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact Section -->
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Võta meiega ühendust</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                        <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                        <form name="sentMessage" id="contactForm" novalidate>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Nimi</label>
                                    <input type="text" class="form-control" placeholder="Nimi" id="name" required data-validation-required-message="Palun sisesta oma nimi.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Sõnum</label>
                                    <textarea rows="5" class="form-control" placeholder="Sõnum" id="message" required data-validation-required-message="Palun sisesta sõnum."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <br>
                            <div id="success"></div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <button type="submit" class="btn btn-success btn-lg">Saada</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer class="text-center">
            <!--div class="footer-above">
                <div class="container">
                    <div class="row">
                        <div class="footer-col col-md-4">
                            <h3>Location</h3>
                            <p>3481 Melrose Place<br>Beverly Hills, CA 90210</p>
                        </div>
                        <div class="footer-col col-md-4">
                            <h3>Around the Web</h3>
                            <ul class="list-inline">
                                <li>
                                    <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-col col-md-4">
                            <h3>About Freelancer</h3>
                            <p>Freelance is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                        </div>
                    </div>
                </div>
            </div-->
            <div class="footer-below">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            Copyright &copy; MTÜ FC Twister 2016
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
        <div class="scroll-top page-scroll visible-xs visible-sm">
            <a class="btn btn-primary" href="#page-top">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
        
</template>